*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* gnb-nav css */

.gnb-nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.gnb-nav::before {
  position: absolute;
  content: '';
  display: block;
  width: 20%;
  height: 100%;
  background-color: #cacaca;
}

.gnb-nav-section {
  width: 1240px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.gnb-nav-section ul {
  display: flex;
  align-items: center;
}

.gnb-list{
  width: 200px;
  height: 60px;
  background-color: #00baba;
  position: relative;
}

.gnb-list > a {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
}

.home-section {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #cacaca;
}

.home-btn img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 40px;
  height: 40px;
}

/* main css */

main {
  width: 1240px;
  margin: 0 auto;
}

 .login {
  width: 100%;
  margin:  0 auto;
}

.login p{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* footer css */

button {
  background-color: transparent;
  border: none;
}


footer {
  width: 100%;
  height: 215px;
  margin: 0 auto;
}

/* slide banner css */

.banners {
  background-color: #F0F0F0;
  border-top: 1px solid #888888;
  width: 100%;
  height: 56px;
}

.banner-contents h2 {
  font-size: 18px;
}

.banner-contents {
  margin: 0 auto;
  width: 1400px;
  height: 56px;
  align-items: center;
  border-right: 1px solid #ddd ;
}

.banner-site-list {
  height: 100%;
}

.banner-list {
  display: flex;
  height: 100%;
  align-items: center;
  float: left;
}

.slick-list {
  height: 100%;
}

.banner-btn-list {
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 10;
}

.banner-btn-list button {
  padding: 15px;
  cursor: pointer;
}

.banner-btn-list i {
  font-size: 15px;
}

.second {
  display: none;
}

.banner-site-list li {
  width: 170px;
  height: 100%;
  text-align: center;
  border-left: 1px solid #ddd;
}

.banner-site-list li a {
  display: block;
  padding: 16px;
  text-align: center;
  color: #777;
}

.slick-current {
  background-color: #fff;
}


/* footer css */

.footer-contents {
  width: 100%;
  height: 165px;
  background-color: #383838;
}

.top-contents {
  width: 1400px;
  height: 57px;
  margin: 0 auto;
}

.site-info {
  display: flex;
  width: 100%;
}

.site-info li a {
  position: relative;
}

.site-info li a::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  top: 6px;
  right: -2px;
  background-color: #D7D7D7;
  z-index: 100;
}

.site-info li:last-child a::before {
  display: none;
}

.site-info ul {
  display: flex;
  padding: 15px 0;
}

.site-info ul li a {
  font-size: 15px;
  padding: 5px 20px;
  color: #DBDBDB;
}

.site-info ul li:first-child a {
  padding: 5px 20px 5px 0px;
}

.bottom-contents {
  width: 100%;
}

.contents-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  height: 108px;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo h2 {
  color: #7E7E7E;
}

.footer-logo img {
  width: 156px;
  height: 37.42px;
}

.info {
  margin: 0px 0px 0px 60px;
  color: #7E7E7E;
}

.info-contents {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info span {
  font-size: 14px;
  padding: 3px 30px 3px 0px;
}

.info p {
  font-size: 12px;
  margin: 10px 0px 0px;
}

.icon-list {
  display: flex;
  justify-content: flex-=end;
}

.icon-list li {
  margin: 0px 10px 0px 0px
}

.web-accessibility {
  width: 85px;
  margin-left: 10px;
}