* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

/* 상단 gnb메뉴 */
.gnb-nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
}

.gnb-nav::before {
    position: absolute;
    content: '';
    display: block;
    width: 30%;
    height: 100%;
    background-color: #cacaca;
}

.gnb-nav-section {
    width: 1240px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.gnb-nav-section ul {
    display: flex;
    align-items: center;
}

.gnb-list {
    width: 200px;
    height: 60px;
    background-color: #00baba;
    position: relative;
}

.gnb-list:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.gnb-list>a {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 20px;
    color: #fff;
    font-weight: 500;
}

.gnb-list>a::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    right: 15px;
    transform: translateY(-30%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
}

.gnb-list:last-child {
    background-color: #fff;
}

.gnb-list:last-child>a {
    color: #333;
}

.gnb-list:last-child a::after {
    border-top-color: #333;
}

.gnb-list ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    background-color: #00baba;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 20;
}

.gnb-list ul.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #00baba;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 20;
}

.gnb-list:last-child ul {
    background-color: #fff;
}

.gnb-list:last-child ul a {
    color: #333;
}

.gnb-list ul li {
    width: 200px;
    height: 60px;
}

.gnb-list ul li:hover {
    background-color: #fff;
}

.gnb-list ul li:hover a {
    color: #00baba;
}

.gnb-list ul li a {
    display: block;
    width: 200px;
    padding: 20px;
    color: #fff;
}

.home-section {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #cacaca;
}

.home-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

/* main nav */
.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px dotted #bebdbd;
    margin-bottom: 70px;
}

.main-nav p {
    font-size: 35px;
    color: #293838;
    font-weight: 700;
}

.main-nav ul {
    display: flex;
    color: #747474;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li img {
    width: 20px;
    height: 20px;
    opacity: 0.6;

}

.arrow,
.line {
    margin: 0 14px;
}

.arrow::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #333;
    margin: 0 14px;
}

.line {
    font-weight: bolder;
}

.line::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 0;
    height: 15px;
    border-right: 1px solid #747474;
    margin: 0 14px;
}

.icon {
    margin-left: 14px;
    cursor: pointer;
}

/* main contents */
.contents-item {
    display: flex;
    width: 1240px;
    height: 280px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 48px;
    border: 2px solid #E2E2E2;
    align-items: center;
    transition: border 300ms ease-in-out;
}

.contents-list a:last-of-type .contents-item {
    margin-bottom: 0;
}

.contents-item:hover {
    border: 2px solid #333333;
}

.contents-item:last-child {
    margin-bottom: none;
}

.contents-item img {
    width: 300px;
    height: 215px;
    border-radius: 30px;
    object-fit: cover;
}

.contents-item div {
    position: relative;
    width: 767px;
    height: 75%;
    margin-top: 10px;
    margin-left: 65px;
}

.contents-item:hover .detail {
    border: none;
    color: #fff;
    background-color: #00BABA;
}

.content-title {
    font-size: 30px;
    letter-spacing: -1px;
    /* font-weight: 200; */
    /* word-spacing: -3px; */
    font-family: 'Black Han Sans', sans-serif;
}

.content-desc {
    font-size: 16px;
    margin-top: 21px;
    line-height: 150%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: 'Noto Sans KR', sans-serif;
}

.detail {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 50px;
    margin-top: 21px;
    border: 1px solid #444;
    border-radius: 10px;
    transition: background-color 300ms ease-in-out;
}

.detail span {
    display: block;
    width: 100%;
    justify-content: space-between;
}

.detail i {
    margin-left: 100px;
}

/* 하단 page button */
.page-btns ul {
    display: flex;
    margin: 42px 0;
    width: 100%;
    justify-content: center;
}

.page-btns a {
    color: #7E7E7E;
    font-weight: bold;
}

.page-btns span {
    position: relative;
    color: #fff
}

.page-btns span::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15%;
    left: -110%;
    border-radius: 50%;
    background-color: #00BABA;
    z-index: -1;
}

.page-btns .second-page {
    color: #7E7E7E;
}

.page-btns .second-page::after {
    width: 28px;
    height: 28px;
    margin-left: -0.5px;
    border: 1.5px solid #7E7E7E;
    background-color: transparent;
}

.page-angle {
    margin: 0 24px;
}

.second-page {
    margin-left: 34px;
}

/* footer 전체 */
footer {
    width: 100%;
    height: 215px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

/* slide banner */
.banners {
    background-color: #F0F0F0;
    border-top: 1px solid #888888;
    width: 100%;
    height: 56px;
}

.banner-contents h2 {
    font-size: 18px;
}

.banner-contents {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    align-items: center;
    background-color: #f3f3f3;
}

.banner-list {
    display: flex;
    width: 1298px;
    margin: 0 auto;
}

.banner-list ul {
    display: flex;
    align-items: center;
}

.banner-btn-list i {
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
}

.banner-site-list li {
    align-items: center;
    width: 171px;
    height: 100%;
    padding: 15px;
    text-align: center;
    border-left: 1px solid #ddd;
}

.banner-site-list li a {
    text-align: center;
    color: #777;
}

.banner-site-list li:first-child {
    background-color: #fff;
}

.banner-site-list li:last-child {
    border-right: 1px solid #ddd;
}

/* footer */
.footer-contents {
    width: 100%;
    height: 165px;
    background-color: #383838;
}

.top-contents {
    width: 1400px;
    height: 57px;
    margin: 0 auto;
}

.site-info {
    display: flex;
}

.site-info li a {
    position: relative;
}

.site-info li a::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    top: 6px;
    right: -2px;
    background-color: #D7D7D7;
    z-index: 100;
}

.site-info li:last-child a::before {
    display: none;
}

.site-info ul {
    display: flex;
    padding: 15px 0;
}

.site-info ul li a {
    font-size: 14px;
    padding: 5px 20px;
    color: #DBDBDB;
}

.site-info ul li:first-child a {
    padding: 5px 20px 5px 0px;
}

.bottom-contents {
    width: 100%;
    border-top: 1px solid #AAAAAA;
}

.contents-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    height: 108px;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo h2 {
    color: #7E7E7E;
}

.footer-logo img {
    width: 156px;
    height: 37.42px;
}

.info {
    margin: 0px 0px 0px 60px;
    color: #7E7E7E;
}

.info-contents {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.info span {
    font-size: 14px;
    padding: 3px 30px 3px 0px;
}

.info p {
    font-size: 12px;
    margin: 10px 0px 0px;
}

.icon-list {
    display: flex;
    justify-content: flex-=end;
}

.icon-list li {
    margin: 0px 10px 0px 0px
}

.web-accessibility {
    width: 85px;
    margin-left: 10px;
}