* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --sub-color: #fac43d;
  --main-color: #3c84ab;
  --main-text-color: #333333;
  --sub-text-color: #000000;
  --sub-title-text: #282d61;
  --menu-text-color: #354141;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

/* header */

header {
  margin: 0 auto;
  width: 100%;
  height: 450px;
}

/* 최상단 메뉴 */
.top-menu {
  display: flex;
  width: 100%;
  height: 87.5px;
  padding: 0 22px 0 50px;
  font-size: 13px;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.top-menu a {
  display: flex;
  color: #fff
}

.top-menu ul {
  display: flex;
}

.top-left-menu {
  gap: 20px;
  min-width: 140px;
  margin-right: 50px;
}

.top-right-menu {
  display: flex;
  align-items: center;
  gap: 45px;
  min-width: 480px;
}

.menu-img img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

/* mainmenu */
.mainmenu {
  position: relative;
  display: flex;
  width: 100%;
  height: 108px;
  padding: 0 50px 0 74px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.mainmenu-item a {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: color 300ms ease-in-out;
}

.mainmenu h1 {
  min-width: 200px;
}

.mainmenu h1 a {
  display: flex;
}

.mainmenu h1 img {
  width: 42px;
  height: 37px;
}

.mainmenu h1 span {
  margin-left: 17px;
  color: #fff;
}

.mainmenu-list {
  display: flex;
  min-width: 726px;
}

.mainmenu-item>a {
  position: relative;
  display: flex;
  line-height: 106px;
  padding: 0 25px;
  height: 108px;
}

.mainmenu-item>a:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: var(--main-color);
  z-index: 100;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.mainmenu-item>a:hover::after {
  transform: scaleX(1);
}

.submenu-list {
  position: absolute;
  top: 106px;
  left: 0;
  display: flex;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  z-index: 100;
  justify-content: center;
  background-color: #fbfbfb;
}

.submenu-left-img {
  position: relative;
  width: 482px;
  height: 500px;
  background-image: url('../Project-images/header/gnb_obj2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  min-width: 260px;
}

.submenu-left-img p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #354141;
}

.ul-wrapper {
  width: 1438px;
  height: 100%;
  padding: 89px 130px;
  display: none;
  min-width: 1000px;
}

.ul-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.ul-wrapper ul li a {
  display: block;
  width: 300px;
  height: 70px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding-left: 22px;
  border-radius: 5px;
  line-height: 65px;
  margin: 0 40px 34px 0;
  border: 1px solid #bbb;
  background-color: #fff;
  transition: background-color 300ms ease-in-out;
}

.ul-wrapper ul li a:hover {
  color: #fff;
  font-weight: lighter;
  border: none;
  background-color: var(--main-color);
}

.submenu-back {
  position: absolute;
  top: 106px;
  left: 0;
  display: flex;
  width: 100vw;
  height: 500px;
  z-index: 99;
  justify-content: center;
  background-color: #fbfbfb;
  display: none;
  box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.1);
}

.menu-buttons ul {
  display: flex;
  align-items: center;
  min-width: 150px;
}

.login {
  font-size: 14px;
  color: #fff;
}

.menu-buttons img {
  margin: 0 19px 0 38px;
  width: 29px;
  height: 29px;
}

.hamberger {
  font-size: 25px;
  color: #fff;
}

.header-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  z-index: -10;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.header-img p {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}


/* gnb-nav */

.gnb-nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.gnb-nav::before {
  position: absolute;
  content: '';
  display: block;
  width: 30%;
  height: 100%;
  background-color: #cacaca;
}

.gnb-nav-section {
  width: 1240px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.gnb-nav-section ul {
  display: flex;
  align-items: center;
}

.gnb-list {
  width: 200px;
  height: 60px;
  background-color: var(--main-color);
  position: relative;
  border-right: 1px solid #eeeeee;
}

.gnb-list:last-child {
  border-right: none;
}

.gnb-list>a {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
}

.gnb-list>a::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  right: 15px;
  transform: translateY(-30%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.gnb-list:last-child {
  background-color: #fff;
  border-right: none;
}

.gnb-list:last-child>a {
  color: #333;
}

.gnb-list:last-child a::after {
  border-top-color: #333;
}

.gnb-list ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  background-color: var(--main-color);
  z-index: 20;
}

.gnb-list ul.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 20;
}

.gnb-list:last-child ul {
  background-color: #fff;
}

.gnb-list:last-child ul a {
  color: #333;
}

.gnb-list ul li {
  width: 200px;
  height: 60px;
  border-right: 1px solid #eeeeee;
}

.gnb-list ul li:hover {
  background-color: #fff;
}

.gnb-list ul li:hover a {
  color: var(--main-color);
}

.gnb-list ul li a {
  display: block;
  width: 200px;
  padding: 20px;
  color: #fff;
}

.home-section {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #cacaca;
}


.home-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

/* sub-list */
main {
  width: 1240px;
  margin: 0 auto;
}

.sub-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 100px 0 40px 0;
  border-bottom: 1px dashed #BEBDBD;
}

.sub-list>h2 {
  font-size: 35px;
  font-weight: 700;
}

.utile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #747474;
}

.location-wrapper {
  display: flex;
}

.location-wrapper>li>a>img {
  width: 15px;
}


.arrow-rigth::after {
  display: inline-block;
  content: '';
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-right-width: 0px;
  border-left-color: #747474;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px 14px;
}


.line {
  color: #000;
  font-weight: 700;
}

.line::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 12px;
  margin-left: 14px;
  background-color: #747474;
}

.icon-wrapper {
  display: flex;
}

.icon-wrapper>li {
  padding-left: 14px;
}

.icon-wrapper>li>img {
  width: 15px;
  opacity: 50%;
}

/* 지도 api 시작*/
#map {
  width: 100%;
  height: 468px;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  font-size: 12px;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 350px;
}

#category {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}

#category li {
  float: left;
  list-style: none;
  width: 50px;
  border-right: 1px solid #acacac;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
}

#category li.on {
  background: #eee;
}

#category li:hover {
  background: #ffe6e6;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}

#category li:last-child {
  margin-right: 0;
  border-right: 0;
}

#category li span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}

#category li .category_bg {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}

#category li .bank {
  background-position: -10px 0;
}

#category li .mart {
  background-position: -10px -36px;
}

#category li .pharmacy {
  background-position: -10px -72px;
}

#category li .oil {
  background-position: -10px -108px;
}

#category li .cafe {
  background-position: -10px -144px;
}

#category li .store {
  background-position: -10px -180px;
}

#category li.on .category_bg {
  background-position-x: -46px;
}

.placeinfo_wrap {
  position: absolute;
  bottom: 28px;
  left: -150px;
  width: 300px;
}

.placeinfo {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}

.placeinfo:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
  content: '';
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
  color: #fff;
  text-decoration: none;
}

.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.placeinfo span {
  margin: 5px 5px 0 5px;
  cursor: default;
  font-size: 13px;
}

.placeinfo .title {
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding: 10px;
  color: #fff;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
  color: #0f7833;
}

.placeinfo .jibun {
  color: #999;
  font-size: 11px;
  margin-top: 0;
}

.custom_zoomcontrol {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 36px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  background-color: #dbdada;
  border-radius: 5px;
}

.custom_zoomcontrol span {
  display: block;
  width: 36px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

/* .custom_zoomcontrol span i {
  width: 15px;
  height: 15px;
  padding: 12px 0;
  border: none;
} */

.custom_zoomcontrol span img {
  width: 15px;
  height: 15px;
  margin: -13px 0;
  border: none;
}

.custom_zoomcontrol span:first-child {
  border-bottom: 1px solid #bfbfbf;
}

.rotate {
  position: absolute;
  top: 140px;
  right: 10px;
  width: 36px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
  background-color: #dbdada;
  border-radius: 5px;
}

.rotate span {
  display: block;
  width: 36px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.rotate img {
  width: 15px;
  height: 15px;
  margin: -13px 0;
  border: none;
  opacity: 70%;
}

/* .rotate i {
  width: 15px;
  height: 15px;
  padding: 12px 0;
  border: none;
  opacity: 70%;
} */

/* 지도 api 끝 */


.traffic>h2 {
  padding: 15px 0;
  border-bottom: 3px solid var(--main-color);
}

.cont-box {
  display: flex;
  padding: 50px 20px 0 40px;
  border-bottom: 1px solid #DEDADA;
}

.cont-box:last-child {
  border-bottom: 1px none;
}

.icon-box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #F4F3F3;
  border-radius: 50%;
}

.icon-box>p {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 50px;
  background-color: var(--sub-color);
  border-radius: 50%;
}


.icon-box>span>img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.cont-txt {
  margin: 0 0 0 50px;
}

.cont-txt>p {
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  color: var(--main-color);
}

.cont-item>span {
  border: 1px solid #7E7E7E;
  padding: 5px;
}

.cont-item>ul {
  list-style: inside;
  margin: 30px 5px;
}

.cont-item>ul>li {
  padding-bottom: 20px;
  color: #7E7E7E;
}

.cont-item>ul>li::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: .5em;
}

/* footer css */

button {
  background-color: transparent;
  border: none;
}


footer {
  width: 100%;
  height: 215px;
  margin: 0 auto;
}

/* slide banner css */

.banners {
  background-color: #F0F0F0;
  border-top: 1px solid #888888;
  width: 100%;
  height: 56px;
  overflow: hidden;
}

.banner-contents h2 {
  font-size: 18px;
}

.banner-contents {
  margin: 0 auto;
  width: 1400px;
  height: 56px;
  align-items: center;
  border-right: 1px solid #ddd;
}

.banner-site-list {
  height: 100%;
}

.banner-list {
  display: flex;
  height: 100%;
  align-items: center;
  float: left;
}

.slick-list {
  height: 100%;
}

.banner-btn-list {
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 10;
}

.banner-btn-list button {
  padding: 15px;
  cursor: pointer;
}

.banner-btn-list i {
  font-size: 15px;
}

.second {
  display: none;
}

.banner-site-list li {
  width: 170px;
  height: 100%;
  text-align: center;
  border-left: 1px solid #ddd;
}

.banner-site-list li a {
  display: block;
  padding: 16px;
  text-align: center;
  color: #777;
}

.slick-current {
  background-color: #fff;
}


/* footer css */

.footer-contents {
  width: 100%;
  height: 165px;
  background-color: #383838;
}

.top-contents {
  width: 1400px;
  height: 57px;
  margin: 0 auto;
}

.site-info {
  display: flex;
  width: 100%;
}

.site-info li a {
  position: relative;
}

.site-info li a::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  top: 6px;
  right: -2px;
  background-color: #D7D7D7;
  z-index: 100;
}

.site-info li:last-child a::before {
  display: none;
}

.site-info ul {
  display: flex;
  padding: 15px 0;
}

.site-info ul li a {
  font-size: 15px;
  padding: 5px 20px;
  color: #DBDBDB;
}

.site-info ul li:first-child a {
  padding: 5px 20px 5px 0px;
}

.bottom-contents {
  width: 100%;
}

.contents-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  height: 108px;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo h2 {
  color: #7E7E7E;
}

.footer-logo img {
  width: 156px;
  height: 37.42px;
}

.info {
  margin: 0px 0px 0px 60px;
  color: #7E7E7E;
}

.info-contents {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info span {
  font-size: 14px;
  padding: 3px 30px 3px 0px;
}

.info p {
  font-size: 12px;
  margin: 10px 0px 0px;
}

.icon-list {
  display: flex;
  justify-content: flex-=end;
}

.icon-list li {
  margin: 0px 10px 0px 0px
}

.web-accessibility {
  width: 85px;
  margin-left: 10px;
}