<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>수정하기</title>
</head>


<style>
  body {
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid lightgray;
  }

  section {
    padding: 40px;
  }

  section>div {
    margin-bottom: 20px;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/add">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <section>
    <!-- action과 method가 없으면 form 내용을 서버로 전달 할 수 없다 -->
    <!-- method : 정보를 어떤 형태로 전달할건지 지정 GET / POST -->
    <!-- 서버랑 통신할 수 있는 방법 네가지 get, post, put, delete -->
    <!-- add 경로로 post 요청함 -->

    <!-- mothod-override 라이브러리를 사용해서 form태그에서 PUT요청을 할 때는 method가 아니라 action에 작성한다. /경로?_method=PUT -->
    <form action="/edit?_method=PUT" method="POST">
      <div class="form-group">
        <label>ID</label>
        <!-- 서버에서 input을 구분하기 위해 name 속성 작성 -->
        <input type="text" value="<%= data._id %>" name="_id" style="display: none;">
        <input value="<%= data.아이디 %>" type="text" class="form-control" name="id">
      </div>
      <div class="form-group">
        <label>PW</label>
        <input value="<%= data.비밀번호 %>" type="password" class="form-control" name="pw">
      </div>
      <button type="submit" class="btn btn-success">수정</button>
    </form>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>

</body>

</html>