<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>info</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<!-- ejs파일은 무조건 views폴더 안에 넣어야 한다. -->

<body>
  <div class="box-item">
    <div class="info-box">
      <p>
        _id : <%= data._id %>
      </p>
      <h3>
        아이디 : <%= data.아이디 %>
      </h3>
      <h3>
        비밀번호 : <%= data.비밀번호 %>
      </h3>

    </div>
  </div>
  <!------------ script ------------>
  <script>




  </script>

</body>

</html>