<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="경주문화관광">
  <meta name="subject" content="경주시 문화관광 홈페이지입니다.">
  <meta name="Keywords" content="경주문화관광, 경주여행, 문화재·역사, 음식, 숙박, 쇼핑, 문화행사, 신청하기, 여행필수정보, 나의여행">
  <meta name="description" content="한국관광의 메카 Beautiful Gyeongju가 여러분을 초대합니다.">
  <meta name="author" content="경주문화관광">
  <title>여행도우미</title>
  <!-- font Awesome -->
  <script src="https://kit.fontawesome.com/9b527152d1.js" crossorigin="anonymous"></script>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../tripHelper_sub5/style.css">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../Project-images/favicon_package_v0.16/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../Project-images/favicon_package_v0.16/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../Project-images/favicon_package_v0.16/favicon-16x16.png">
  <link rel="manifest" href="../Project-images/favicon_package_v0.16/site.webmanifest">
  <link rel="mask-icon" href="../Project-images/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- slickslider -->
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    <header>
      <nav class="global-header">
        <!-- 최상단 메뉴 -->
        <!-- top버튼 넣어야됨 -->
        <div class="top-menu">
          <ul class="top-left-menu">
            <li><a href="https://www.gyeongju.go.kr/open_content/ko/index.do" target="_blank">경주시청</a></li>
            <li><a href="https://www.gyeongju.go.kr/gyeongjuimage/index.do" target="_blank">미디어자료관</a></li>
          </ul>

          <ul class="top-right-menu">
            <!-- 매일 날짜 가져옴 -->
            <li>
              <span class="month"></span>.
              <span class="date"></span>
              (<span class="week"></span>)
            </li>
            <li class="weather"><span class="temp"></span>°C<span class="weather-icon"></span></li>
            <li id="data"></li>
            <li class="menu-img"><a href="">전체누리집 바로가기
                <img src="../Project-images/header/topIcon_white.png" alt="전체누리집 바로가기 아이콘"></a></li>
          </ul>
        </div>

        <div class="mainmenu">
          <!-- 3개구역 [로고/메인메뉴/버튼리스트] -->
          <h1>
            <a href="/main"><img src="../Project-images/header/white-logo.png" alt="사이트 로고">
              <span>경주문화관광</span></a>
          </h1>


          <!-- 메인메뉴 list 안에 submenu 포함 -->
          <ul class="mainmenu-list">
            <li class="mainmenu-item"><a href="../travel_sub1/travel.html">경주여행</a>
              <div class="submenu-list">
                <!-- 경주여행 -->
                <div class="submenu-left-img">
                  <p></p>
                </div>
                <div class="ul-wrapper">
                  <ul>
                    <li><a href="">권역별 관광지</a></li>
                    <li><a href="../travel_sub1/travel.html">여행코스추천</a></li>
                    <li><a href="">경주의 자연</a></li>
                    <li><a href="">체험과 레저</a></li>
                    <li><a href="">투어프로그램</a></li>
                  </ul>
                </div>
              </div>
              <div class="submenu-back"></div>
            </li>

            <li class="mainmenu-item"><a href="../festival_sub2/festival.html">문화행사</a>
              <div class="submenu-list">
                <!-- 문화행사 -->
                <div class="submenu-left-img">
                  <p></p>
                </div>
                <div class="ul-wrapper">
                  <ul>
                    <li><a href="">이달의 축제 및 행사</a></li>
                    <li><a href="../festival_sub2/festival.html">정기축제 행사안내</a></li>
                    <li><a href="">공연전시 정보</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="mainmenu-item"><a href="../culture_sub3/culture.html">문화재·역사</a>
              <div class="submenu-list">
                <!-- 문화재/역사 -->
                <div class="submenu-left-img">
                  <p></p>
                </div>
                <div class="ul-wrapper">
                  <ul>
                    <li><a href="../culture_sub3/culture.html">세계문화유산</a></li>
                    <li><a href="">경주의 역사</a></li>
                    <li><a href="">분류별 국가유산</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="mainmenu-item"><a href="../food_sub4/food.html">음식·숙박·쇼핑</a>
              <div class="submenu-list">
                <!-- 음식/숙박/쇼핑 -->
                <div class="submenu-left-img">
                  <p></p>
                </div>
                <div class="ul-wrapper">
                  <ul>
                    <li><a href="../food_sub4/food.html">음식</a></li>
                    <li><a href="">숙박</a></li>
                    <li><a href="">쇼핑</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="mainmenu-item"><a href="../tripHelper_sub5/tripHelper.html">여행도우미</a>
              <div class="submenu-list">
                <!-- 여행도우미 -->
                <div class="submenu-left-img">
                  <p></p>
                </div>
                <div class="ul-wrapper">
                  <ul>
                    <li><a href="../tripHelper_sub5/tripHelper.html">교통정보</a></li>
                    <li><a href="">문화관광 해설사</a></li>
                    <li><a href="">관광안내지도</a></li>
                    <li><a href="">공중화장실</a></li>
                    <li><a href="">경주관광코스</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <div class="menu-buttons">
            <ul>
              <li><a href="/login" class="login">로그인</a></li>
              <li><a href="/main"><img src="../Project-images/header/home-white.png" alt="메인페이지로 가기"></a></li>
              <li><a href="">
                  <i class="fa-solid fa-bars hamberger"></i></a></li>
            </ul>
          </div>

        </div>
      </nav>

      <!-- header-img -->
      <div class="header-img">
        <img src="../Project-images/subpage5(여행도우미)/header-main.JPG" alt="">
        <p>여행도우미</p>
      </div>
    </header>
    <!-- gnb-nav -->
    <div class="gnb-nav">
      <div class="gnb-nav-section">
        <div class="home-section">
          <h2 class="home-btn">
            <a href="/main"><img src="../Project-images/header/home-white.png" alt="홈버튼" /></a>
          </h2>
        </div>
        <ul>
          <li class="gnb-list">
            <a href="../tripHelper_sub5/tripHelper.html">여행도우미</a>
            <ul>
              <li><a href="../travel_sub1/travel.html">경주여행</a></li>
              <li><a href="../festival_sub2/festival.html">문화행사</a></li>
              <li><a href="../culture_sub3/culture.html">문화재·역사</a></li>
              <li><a href="../food_sub4/food.html">음식·숙박·쇼핑</a></li>
              <li><a href="../tripHelper_sub5/tripHelper.html">여행도우미</a></li>
            </ul>
          </li>
          <li class="gnb-list">
            <a href="">교통정보</a>
            <ul>
              <li><a href="">교통정보</a></li>
              <li><a href="">문화관광 해설사</a></li>
              <li><a href="">관광안내지도</a></li>
              <li><a href="">공중화장실</a></li>
              <li><a href="">경주관광코스</a></li>
            </ul>
          </li>
          <li class="gnb-list">
            <a href="">경주오는길</a>
            <ul>
              <li><a href="">경주오는길</a></li>
              <li><a href="">기차·고속/시내버스</a></li>
              <li><a href="">교통정보센터</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- main -->
    <main>
      <!-- sub-list -->
      <div class="sub-list">
        <h2>경주오는길</h2>
        <div class="utile-wrapper">
          <ul class="location-wrapper">
            <li class="arrow-rigth">
              <a href="/main"><img src="../Project-images/header/home-black.png" alt="홈페이지아이콘" /></a>
            </li>
            <li class="arrow-rigth">여행도우미</li>
            <li class="arrow-rigth">교통정보</li>
            <li class="line">경주오는길</li>
          </ul>
          <ul class="icon-wrapper">
            <li><img src="../Project-images/header/ilnk.png" alt="링크아이콘" /></li>
            <li><img src="../Project-images/header/copy.png" alt="복사아이콘" /></li>
            <li><img src="../Project-images/header/print.png" alt="프린트아이콘" /></li>
          </ul>
        </div>
      </div>

      <!-- section1 지도 api 시작-->
      <section>
        <div class="map_wrap">
          <div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
          <ul id="category">
            <li id="BK9" data-order="0">
              <span class="category_bg bank"></span>
              은행
            </li>
            <li id="MT1" data-order="1">
              <span class="category_bg mart"></span>
              마트
            </li>
            <li id="PM9" data-order="2">
              <span class="category_bg pharmacy"></span>
              약국
            </li>
            <li id="OL7" data-order="3">
              <span class="category_bg oil"></span>
              주유소
            </li>
            <li id="CE7" data-order="4">
              <span class="category_bg cafe"></span>
              카페
            </li>
            <li id="CS2" data-order="5">
              <span class="category_bg store"></span>
              편의점
            </li>
          </ul>

          <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
          <div class="custom_zoomcontrol radius_border">
            <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"
                alt="확대"></span>
            <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"
                alt="축소"></span>
          </div>
          <div class="rotate">
            <span onclick="panTo()"><img src="https://cdn-icons-png.flaticon.com/128/121/121118.png" alt=""></span>
          </div>
        </div>
      </section>
      <!-- 지도 api 끝 -->

      <!-- section2(traffic) -->
      <section>
        <div class="traffic">
          <h2>교통안내</h2>
          <div class="cont-box">
            <div class="icon-box">
              <p></p>
              <span><img src="../Project-images/subpage5(여행도우미)/car.png" alt="자동차아이콘" /></span>
            </div>

            <div class="cont-txt">
              <p>자가용으로 오시는 경우</p>
              <div class="cont-item">
                <span>서울출발</span>
                <ul>
                  <li>
                    신갈JC → 영동고속도로 → 김천JC → 경부고속도록 → 경주IC
                  </li>
                </ul>
              </div>
              <div class="cont-item">
                <span>대구출발</span>
                <ul>
                  <li>북대구TG → 경부고속도로(하행) →경주IC</li>
                </ul>
              </div>
              <div class="cont-item">
                <span>부산출발</span>
                <ul>
                  <li>부산TG → 경부고속도로(상행) →경주IC</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="cont-box">
            <div class="icon-box">
              <p></p>
              <span><img src="../Project-images/subpage5(여행도우미)/train.png" alt="고속철도아이콘" /></span>
            </div>

            <div class="cont-txt">
              <p>고속철도로 오시는 경우</p>
              <div class="cont-item">
                <span>고속철도(KTX)</span>
                <ul>
                  <li>서울-신경주:2시간 10분</li>
                  <li>동대구-신경주:20분</li>
                  <li>부산-신경주:30분</li>
                </ul>
              </div>
              <div class="cont-item">
                <span>KTX경부선 하행</span>
                <ul>
                  <li>
                    서울역-신경주역:07:37 ~ 00:07분까지 약 1시간간격으로 운행
                  </li>
                </ul>
              </div>
              <div class="cont-item">
                <span>KTX경부선 상행</span>
                <ul>
                  <li>
                    신경주역-서울역:05:59 ~ 22:34분까지 약 1시간 간격으로 운행
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="cont-box">
            <div class="icon-box">
              <p></p>
              <span><img src="../Project-images/subpage5(여행도우미)/bus.png" alt="버스아이콘" /></span>
            </div>

            <div class="cont-txt">
              <p>고속버스로 오시는 경우</p>
              <div class="cont-item">
                <span>서울출발</span>
                <ul>
                  <li>
                    서울고속버스터미널-경주 고속버스터미널: 약 3시간 25분
                  </li>
                </ul>
              </div>
              <div class="cont-item">
                <span>대구출발</span>
                <ul>
                  <li>동양고속버스터미널-경주 고속버스터미널: 약50분</li>
                </ul>
              </div>
              <div class="cont-item">
                <span>부산출발</span>
                <ul>
                  <li>부산종합버스터미널-경주 고속버스터미널: 약50분</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer>
      <!-- banner -->
      <div class="banners">
        <div class="banner-contents">
          <div class="banner-list">
            <h2>배너모음</h2>
            <div class="banner-btn-list">
              <button type="button" class="prev"><i class="fa-solid fa-chevron-left"></i></button>

              <div class="stop-play">
                <button type="button" class="first"><i class="fa-solid fa-pause stop"></i></button>
                <button type="button" class="second"><i class="fa-solid fa-play play"></i></button>
              </div>

              <button type="button" class="next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>


          <ul class="banner-site-list">
            <li><a href="https://garts.kr/index.do">(재)경주문화재단</a></li>
            <li><a href="http://www.cultureexpo.or.kr/" target="_blank">경주세계엑스포</a></li>
            <li><a href="https://www.foresttrip.go.kr/indvz/main.do?hmpgId=ID02030027" target="_blank">토함산자연휴양림</a>
            </li>
            <li><a href="http://yangdong.invil.org/" target="_blank">경주양동마을</a></li>
            <li><a href="http://www.dmgyeongju.com/" target="_blank">동리목월문학관</a></li>
            <li><a href="http://gjsam.or.kr/ko/" target="_blank">경주솔거미술관</a></li>
            <li><a href="http://www.gjtour.or.kr/" target="_blank">경주농촌체험관광</a></li>
            <li><a href="https://www.gyeongju.go.kr/gyochon/index.do" target="_blank">경주교촌마을</a></li>
            <li><a href="https://www.gyeongju.go.kr/hwarang/index.do" target="_blank">화랑마을</a></li>
            <li><a href="https://xn--wk0bx2gp2g1p7a.kr/index.nm?contentId=448" target="_blank">상상황리단길</a></li>
          </ul>
        </div>
      </div>

      <!-- footer contents -->
      <div class="footer-contents">
        <!-- footer top -->
        <div class="top-contents">
          <div class="site-info">
            <ul>
              <li><a href="https://www.gyeongju.go.kr/open_content/ko/page.do?mnu_uid=1069&">개인정보처리방침</a>
              </li>
              <li><a href="https://www.gyeongju.go.kr/open_content/ko/page.do?mnu_uid=1068&">이용약관</a></li>
              <li><a href="https://www.gyeongju.go.kr/open_content/ko/page.do?mnu_uid=1070&">저작권안내</a>
              </li>
              <li><a href="https://www.gyeongju.go.kr/open_content/ko/page.do?mnu_uid=1807">관광불편신고</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- footer bottom -->
        <div class="bottom-contents">
          <div class="contents-wrapper">
            <div class="footer-logo">
              <a href="/main"><img src="../Project-images/footer/flogo.png" alt="로고"></a>
            </div>
            <div class="info-contents">
              <div class="info">
                <span>[38102] 경상북도 경주시 양정로 260 (동천동, 경주시청)</span>
                <span>대표전화 : 054-779-8585</span>
                <p>Copyright 2019 Gyeongju Tourguide. All rights reserved.</p>
              </div>
              <ul class="icon-list">
                <li><a href="https://www.youtube.com/channel/UCQh-jbXM1DkVnC8vUYqfkVw"><img
                      src="../Project-images/footer/youtube.png" alt="유튜브"></a></li>
                <li><a href="https://www.facebook.com/gj.tour1/"><img src="../Project-images/footer/facebook.png"
                      alt="페이스북"></a></li>
                <li><a href="https://blog.naver.com/gj_tour"><img src="../Project-images/footer/blog.png" alt="블로그"></a>
                </li>
                <li><a href="https://www.instagram.com/gj_tour/"><img src="../Project-images/footer/insta.png"
                      alt="인스타그램"></a></li>
              </ul>
            </div>

            <a
              href="http://www.wa.or.kr/board/list.asp?search=c_name&SearchString=%B0%E6%C1%D6%B9%AE%C8%AD%B0%FC%B1%A4&BoardID=0006"><img
                src="../Project-images/footer/wa.png" alt="웹접근성 인증" class="web-accessibility"></a>
          </div>
        </div>
      </div>
      <!-- footer contents 끝 -->
    </footer>
    <!-- footer 끝 -->
  </div>
  <!-- script -->

  <!-- 
    브라우저의 콘솔창에서 appkey 에러가 발견될 시
    아래 사이트 링크에서 사이트 도메인을 http://localhost:8080 로 추가하고 앱키를 발급받아 복사하여
    아래 appkey= 와 &libraries=services 사이에 추가한다.
  https://developers.kakao.com/console/app/968584/config/platform
  -->
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a919d1407630ee9d43d1cfe72c2382a3&libraries=services"></script>
  <script src="scrit.js"></script>
  <script src="../tripHelper_sub5/scrit.js"></script>

</body>

</html>