* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

:root {
  /* colors */
  --main-color: #00BABA
}

.tab-content {
  position: relative;
  display: none;
  width: 1400px;
  height: 700px;
  margin: 0 auto;
  align-items: flex-start;
}

.sec-left {
  position: relative;
  width: 560px;
  padding: 100px 0 0 50px;
}

.sec-tit {
  display: block;
  text-align: left;
  color: #333;
}

.sec-tit strong {
  display: block;
  font-size: 30px;
}

.sec-tit span {
  display: inline;
  color: var(--main-color);
}

.sec-tit p {
  font-size: 16px;
  font-weight: 600;
}

/* slick-slider 시작 */
.slide-out {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 250px;
  padding: 18px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.slide-wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.slide-wrap {
  position: relative;
}

.slide-wrap button {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58%;
  z-index: 10;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  transition: all 500ms ease-in-out;
}

.slide-wrap button:hover {
  background-color: rgb(0, 186, 186);
}

.slide-wrap button:before {
  font-family: 'fontawesome';
  color: #fff;
  font-size: 15px;
}

.slide-wrap button.slick-prev {
  right: 35px;
  font-size: 0;
  color: transparent;
}

.slide-wrap button.slick-prev:before {
  content: '\f053';
}

.slide-wrap button.slick-next {
  right: 0px;
  font-size: 0;
  color: transparent;
}

.slide-wrap button.slick-next:before {
  content: '\f054';
}

.thum img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.sec-left img {
  width: 370px;
  height: 286px;
  object-fit: cover;
}

/* slide txt */
.slide-txt {
  padding: 25px 0;
  color: #3A3A3A;
}

.sub-txt {
  display: block;
  font-size: 16px;
  color: #000;
}

.slide-txt strong {
  font-size: 18px;
  font-weight: 600;
}

.slide-txt strong h2 {
  display: inline-block;
  font-size: 25px;
  color: rgb(0, 186, 186);
  ;
}

.slide-txt strong i {
  display: inline-block;
  height: 1px;
  width: 25px;
  margin: 0 10px 7px 10px;
  background-color: #888;
}

.slide-txt p {
  margin-top: 18px;
  font-size: 16px;
  color: #000;
}

/*slick-slider 끝 */

/* map image */
.map-img {
  position: absolute;
  width: 830px;
  right: 70px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* map-btn */
.map-btn {
  position: absolute;
  width: 1400px;
  height: 700px;
  top: 0;
  z-index: 100;
  text-align: end;
}

.btn-wrap {

}

/* map icon under text */
.slick-dots {
  padding: 5px 10px;
  top: 0;
  border: transparent;
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff, 1px 1px 0 #ffff;
  cursor: pointer;
}

.slick-dots span{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  line-height: 20px;
  text-shadow: none;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #595959;
}

/* 슬라이드 이미지 이동시 보여짐 */
.s-back{
  padding: 5px 10px;
  text-align: center;
  text-shadow: none;
  border-radius: 50px;
  color: #fff;
  background-color: var(--main-color);
}

/* 경주시내권 핵심바이블 slick-dots 배치 */
.map-btn{
  .one, .tow, .three, .four, .five,
.six, .seven, .eight, .nine, .ten,
.eleven, .twelve, .thirteen, .fourteen, .fifteen,
.sixteen, .seventeen, .eighteen, .nineteen, .twenty,
.twenty-one, .twenty-two, .twenty-three, .twenty-four, .twenty-five {
  position: absolute;
}

.one {
  top: 51%;
  left: 23%;
}
.tow {
  top: 69%;
  left: 16.5%;
}

.three {
  top: 65%;
  left: 24.5%;
}

.four {
  top: 57%;
  left: 16.5%;
}

.five {
  top: 63%;
  left: 31%;
}

.six {
  top: 61%;
  left: 17.5%;
}

.seven {
  top: 54%;
  left: 33.5%;
}

.eight {
  top: 70%;
  left: 35%;
}

.nine {
  top: 66%;
  left: 22%;
}

.ten {
  top: 81%;
  left: 29%;
}

.eleven{
  top: 64%;
  left: 33%;
} 

.twelve{
  top: 81%;
  left: 32.5%;
} 

.thirteen{
  top: 49%;
  left: 25.5%;
} 

.fourteen{
  top: 66%;
  left: 23%;
} 

.fifteen{
  top: 54%;
  left: 15%;
}

.sixteen{
  top: 61%;
  left: 20%;
} 

.seventeen{
  top: 75%;
  left: 17%;
} 

.eighteen{
  top: 47%;
  left: 25%;
} 

.nineteen{
  top: 32%;
  left: 28%;
} 

.twenty{
  top: 70%;
  left: 31.5%;
}

.twenty-one{
  top: 79%;
  left: 41.5%;
} 

.twenty-two{
  top: 93%;
  left: 49%;
} 

.twenty-three{
  top: 61%;
  left: 40%;
} 

.twenty-four{
  top: 65%;
  left: 51%;
} 

.twenty-five{
  top: 80%;
  left: 51.5%;
}
}


/* 하단 section tap  */
.tab-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 186, 186);
}

.tab-back {
  width: 1400px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.tab-list {
  width: 850px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.tab-btn,
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  margin: 10px;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.tab-btn:hover,
.link-btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

.active {
  background-color: #fff;
  color: var(--main-color);
}

.show {
  display: block;
}
