* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* toTop button */
#toTop {
    display: none;
    position: fixed;
    bottom: 100px;
    width: 150px;
    height: 150px;
    right: 100px;
    z-index: 500;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    background-color: #00BABA;
}

#toTop::after {
    content: 'TOP';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#toTop::before {
    content: '';
    position: absolute;
    left: 37%;
    top: 30%;
    margin-top: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
}