.gnb-nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: relative;
}

.gnb-nav::before {
  position: absolute;
  content: '';
  display: block;
  width: 30%;
  height: 100%;
  background-color: #cacaca;
}

.gnb-nav-section {
  width: 1240px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.gnb-nav-section ul {
  display: flex;
  align-items: center;
}

.gnb-list{
  width: 200px;
  height: 60px;
  background-color: #00baba;
  position: relative;
}

.gnb-list > a {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
}

.gnb-list > a::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  right: 15px;
  transform: translateY(-30%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff ;
}

.gnb-list:last-child {
  background-color: #fff;
}

.gnb-list:last-child > a {
  color: #333;
}

.gnb-list:last-child a::after {
  border-top-color: #333 ;
}

.gnb-list ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  background-color: #00baba;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 20;
}

.gnb-list ul.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #00baba;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 20;
}

.gnb-list:last-child ul {
  background-color: #fff;
}

.gnb-list:last-child ul a{
  color: #333;
}

.gnb-list ul li {
  width: 200px;
  height: 60px;
}

.gnb-list ul li:hover {
  background-color: #fff;
}

.gnb-list ul li:hover a{
  color: #00baba;
}

.gnb-list ul li a {
  display: block;
  width: 200px;
  padding: 20px;
  color: #fff;
}

.home-section {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #cacaca;
}


.home-btn img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 40px;
  height: 40px;
}