*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* gnb css */

.gnb-nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.gnb-nav::before {
  position: absolute;
  content: '';
  display: block;
  width: 30%;
  height: 100%;
  background-color: #cacaca;
}

.gnb-nav-section {
  width: 1240px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.gnb-nav-section ul {
  display: flex;
  align-items: center;
}

.gnb-list{
  width: 200px;
  height: 60px;
  background-color: #00baba;
  position: relative;
  border-right: 1px solid #eeeeee;
}

.gnb-list:last-child {
  border-right: none;
}

.gnb-list > a {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
}

.gnb-list > a::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  right: 15px;
  transform: translateY(-30%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff ;
}

.gnb-list:last-child {
  background-color: #fff;
}

.gnb-list:last-child > a {
  color: #333;
}

.gnb-list:last-child a::after {
  border-top-color: #333 ;
}

.gnb-list ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  background-color: #00baba;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 20;
}

.gnb-list ul.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #00baba;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 20;
}

.gnb-list:last-child ul {
  background-color: #fff;
}

.gnb-list:last-child ul a{
  color: #333;
}

.gnb-list ul li {
  width: 200px;
  height: 60px;
}

.gnb-list ul li:hover {
  background-color: #fff;
}

.gnb-list ul li:hover a{
  color: #00baba;
}

.gnb-list ul li a {
  display: block;
  width: 200px;
  padding: 20px;
  color: #fff;
}

.home-section {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #cacaca;
}


.home-btn img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 40px;
  height: 40px;
}

/* main css */


main {
  width: 1240px;
  margin: 0 auto;
}

/* main-nav css */

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px dotted #bebdbd;
  margin-bottom: 70px;
}

.main-nav p {
  font-size: 35px;
  color: #293838;
  font-weight: 700;
}

.main-nav ul{
  display: flex;
  color: #747474;
}

.main-nav ul li {
  position: relative;
}

.main-nav ul li img {
 width: 20px;
 height: 20px;
 opacity: 0.6;

}

.arrow, .line {
  margin: 0 14px;
}

.arrow::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #333 ;
  margin: 0 14px;
}

.line {
  font-weight: bolder;
}

.line::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 0;
  height: 15px;
  border-right: 1px solid #747474;
  margin: 0 14px;
}

.icon {
  margin-left: 14px;
  cursor: pointer;
}

/* section title css */

.title > p {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  color: #293838;
  margin-bottom: 70px;
}

.sub-title1 {
  width: 100%;
  height: 70px;
  border: 3px solid #eeeeee;
  margin-bottom: 45px;
}

.sub-title1 ul{
  display: flex;
}

.m-img {
  width: 100%;
  height: 250px;
  background-image: url(./images/content-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 45px;
}

.titles {
  display: flex;
  align-items: center;
}

.sub-title {
  font-size: 25px;
  color: #333;
  font-weight: 600;
  margin-right: 20px;
}

.blue {
  font-size: 20px;
  color: #2a6bcd;
  font-weight: 600;
}

.sub-title2 {
  margin-bottom: 10px;
}

.sub-title2 > p {
  font-size: 17px;
  color: #4f4f4f;
  margin: 0 auto;
  padding: 10px;
}

/* section course css */

.corse {
  padding-bottom: 40px;
  border-bottom: 1px dotted #eeeeee;
  margin-bottom: 45px;
}

.corse .sub-title {
  margin-bottom: 10px;
}

.corse .blue {
  margin-bottom: 10px;
}

.corse ul {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.corse span{
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid #747474;
  border-radius: 50%;
  line-height: 20px;
  color: #747474;
  font-weight: 700;
  margin-right: 5px;
}

.corse-arrow {
  position: relative;
  margin: 0 20px 0 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.corse-arrow:hover , .corse-arrow:hover span {
  color: #2a6bcd;
  border-color: #2a6bcd;
}

.corse-arrow:first-child {
  margin-left: 0;
}

.corse-arrow:last-child::after {
  border: none;
}

.corse-arrow::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #747474 ;
  margin: 0 14px;
}

/* section slide css */

.slide {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px dotted #eeeeee;
  margin-bottom: 45px;
}

.slide-box {
  position: relative;
  width: 700px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
}

.slide-imgs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 650px;
  height: 400px;
  overflow: hidden;
}

.slide-imgs img {
  width: 650px;
  height: 400px;
  /* transform: translateX(-650px); */
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.buttons p {
  width: 55px;
  height: 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  line-height: 40px;
}

.buttons button {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
  margin-left: 5px;
}

#pause {
  font-weight: 700;
}

.text-box {
  margin-left: 30px;
  width: 500px;
  font-size: 15px;
  color: #333;
}

.text-box .sub-title {
  margin : 15px 0;
}

.s-blue {
  color: #2a6bcd;
  font-size: 15px;
}

.text-box ul {
  margin: 40px 0 0 20px;
}

.text-box ul li {
  padding: 5px 0;
  position: relative;
}

.text-box ul li a {
  color: #2a6bcd;
  text-decoration: underline;
}

.text-box ul li span {
  color: #202020;
  font-weight: 700;
  margin-right: 10px;
}

.text-box ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 5px;
  height: 5px;
  background-color: #2a6bcd;
  border-radius: 50%;
}

/* section info css */


.info-list {
  display: flex;
}

.info-list li {
  width: 25%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid #7e7e7e;
  border-right: 0;
  background-color: #f4f3f3;
  font-size: 20px;
  font-weight: 600;
  color: #464646;
}

.info-list li:last-child {
  border-right: 1px solid #7e7e7e;
}

.info-list li.active {
  background-color: #fff;
  color: #2a6bcd;
  border-bottom: 2px solid #2a6bcd;
}

.info-content {
  padding: 75px 50px;
  font-size: 17px;
  color: #333;
}


/* footer css */

button {
  background-color: transparent;
  border: none;
}


footer {
  width: 100%;
  height: 215px;
  margin: 0 auto;
}


/* slide banner */

.banners {
  background-color: #F0F0F0;
  border-top: 1px solid #888888;
  width: 100%;
  height: 56px;
}

.banner-contents h2 {
  font-size: 18px;
}

.banner-contents {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  height: 100%;
  align-items: center;
  background-color: #f3f3f3;
}

.banner-list {
  display: flex;
  width: 1298px;
  height: 100%;
  margin: 0 auto;
}

.banner-list ul {
  display: flex;
  align-items: center;
}

.banner-btn-list i {
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
}

.banner-site-list li {
  align-items: center;
  width: 171px;
  height: 100%;
  padding: 15px;
  text-align: center;
  border-left: 1px solid #ddd;
}

.banner-site-list li a {
  text-align: center;
  color: #777;
}

.banner-site-list li:first-child {
  background-color: #fff;
}

.banner-site-list li:last-child {
  border-right: 1px solid #ddd;
}


/* footer */

.footer-contents {
  width: 100%;
  height: 165px;
  background-color: #383838;
}

.top-contents {
  width: 1400px;
  height: 57px;
  margin: 0 auto;
}

.site-info {
  display: flex;
}

.site-info li a {
  position: relative;
}

.site-info li a::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  top: 6px;
  right: -2px;
  background-color: #D7D7D7;
  z-index: 100;
}

.site-info li:last-child a::before {
  display: none;
}

.site-info ul {
  display: flex;
  padding: 15px 0;
}

.site-info ul li a {
  font-size: 14px;
  padding: 5px 20px;
  color: #DBDBDB;
}

.site-info ul li:first-child a {
  padding: 5px 20px 5px 0px;
}

.bottom-contents {
  width: 100%;
  border-top: 1px solid #AAAAAA;
}

.contents-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1400px;
  height: 108px;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo h2 {
  color: #7E7E7E;
}

.footer-logo img {
  width: 156px;
  height: 37.42px;
}

.info {
  margin: 0px 0px 0px 60px;
  color: #7E7E7E;
}

.info-contents {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info span {
  font-size: 14px;
  padding: 3px 30px 3px 0px;
}

.info p {
  font-size: 12px;
  margin: 10px 0px 0px;
}

.icon-list {
  display: flex;
  justify-content: flex-=end;
}

.icon-list li {
  margin: 0px 10px 0px 0px
}

.web-accessibility {
  width: 85px;
  margin-left: 10px;
}

