* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

/* header */

header {
    margin: 0 auto;
    width: 100%;
    height: 450px;
}

/* 최상단 메뉴 */
.top-menu {
    display: flex;
    width: 100%;
    height: 87.5px;
    padding: 0 22px 0 50px;
    font-size: 13px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.top-menu a {
    display: flex;
    color: #fff
}

.top-menu ul {
    display: flex;
}

.top-left-menu {
    gap: 20px;
    min-width: 140px;
    margin-right: 50px;
}

.top-right-menu {
    gap: 45px;
    min-width: 445px;
}

.menu-img img {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.weather {
    display: flex;
    justify-content: center;
}

.weather-icon img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: 5px;
}

/* mainmenu */
.mainmenu {
    position: relative;
    display: flex;
    width: 100%;
    height: 108px;
    padding: 0 50px 0 74px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.mainmenu-item a {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: color 300ms ease-in-out;
}

.mainmenu h1 {
    min-width: 200px;
}

.mainmenu h1 a {
    display: flex;
}

.mainmenu h1 img {
    width: 42px;
    height: 37px;
}

.mainmenu h1 span {
    margin-left: 17px;
    color: #fff;
}

.mainmenu-list {
    display: flex;
    min-width: 720px;
}

/* .mainmenu-item {
    min-width: 100%;
  } */

.mainmenu-item>a {
    position: relative;
    display: flex;
    line-height: 106px;
    padding: 0 25px;
    height: 108px;
}

.mainmenu-item>a:after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #00BABA;
    z-index: 100;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}

.mainmenu-item>a:hover::after {
    transform: scaleX(1);
}

.submenu-list {
    position: absolute;
    top: 106px;
    left: 0;
    display: flex;
    width: 100vw;
    height: 500px;
    overflow: hidden;
    z-index: 100;
    justify-content: center;
    background-color: #fbfbfb;
}

.submenu-left-img {
    position: relative;
    width: 482px;
    height: 500px;
    background-image: url('../Project-images/header/gnb_obj2.png');
    background-repeat: none;
    background-size: cover;
    display: none;
}

.submenu-left-img p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #354141;
}

.ul-wrapper {
    width: 1438px;
    height: 100%;
    padding: 89px 130px;
    display: none;
}

.ul-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.ul-wrapper ul li a {
    display: block;
    width: 300px;
    height: 70px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 22px;
    border-radius: 5px;
    line-height: 65px;
    margin: 0 40px 34px 0;
    border: 1px solid #bbb;
    background-color: #fff;
    transition: background-color 300ms ease-in-out;
}

.ul-wrapper ul li a:hover {
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #00BABA;
}

.submenu-back {
    position: absolute;
    top: 106px;
    left: 0;
    display: flex;
    width: 100vw;
    height: 500px;
    z-index: 99;
    justify-content: center;
    background-color: #fbfbfb;
    display: none;
    box-shadow: 0px 10px 5px -2px rgba(0, 0, 0, 0.1);
}

.menu-buttons ul {
    display: flex;
    align-items: center;
    min-width: 147px;
}

.login {
    font-size: 14px;
    color: #fff;
}

.menu-buttons img {
    margin: 0 19px 0 38px;
    width: 29px;
    height: 29px;
}

.hamberger {
    font-size: 25px;
    color: #fff;
}

.header-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    z-index: -10;
}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.header-img p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}


/* 상단 gnb메뉴 */
.gnb-nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
}

.gnb-nav::before {
    position: absolute;
    content: '';
    display: block;
    width: 30%;
    height: 100%;
    background-color: #cacaca;
}

.gnb-nav-section {
    width: 1240px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.gnb-nav-section ul {
    display: flex;
    align-items: center;
}

.gnb-list {
    width: 200px;
    height: 60px;
    background-color: #00baba;
    position: relative;
}

.gnb-list>a {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 20px;
    color: #fff;
    font-weight: 500;
}

.gnb-list ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    background-color: #00baba;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 20;
}

.gnb-list ul.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #00baba;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 20;
}

.gnb-list:last-child ul {
    background-color: #fff;
}

.gnb-list:last-child ul a {
    color: #333;
}

.gnb-list ul li {
    width: 200px;
    height: 60px;
}

.gnb-list ul li:hover {
    background-color: #fff;
}

.gnb-list ul li:hover a {
    color: #00baba;
}

.gnb-list ul li a {
    display: block;
    width: 200px;
    padding: 20px;
    color: #fff;
}

.home-section {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #cacaca;
}

.home-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

/* main nav */
.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px dotted #bebdbd;
    margin-bottom: 70px;
}

.main-nav p {
    font-size: 35px;
    color: #293838;
    font-weight: 700;
}

.main-nav ul {
    display: flex;
    color: #747474;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.arrow,
.line {
    margin: 0 14px;
}

.arrow::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #333;
    margin: 0 14px;
}

.line {
    font-weight: bolder;
}

.line::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 0;
    height: 15px;
    border-right: 1px solid #747474;
    margin: 0 14px;
}

.icon {
    margin-left: 14px;
    cursor: pointer;
}

/* main */

main {
    width: 1240px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 45px 0;
}

.title1 {
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 20px;
}

.title2 {
    font-size: 16px;
    color: #494949;
}

/* 회원가입폼 */
.table-section {
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

table {
    width: 1240px;
    border-top: 2px solid #444;
    border-collapse: collapse;
}

th {
    width: 249px;
    height: 80px;
    background-color: #F5F5F5;
    border-right: 1px solid #EAECF1;
}

tr {
    border-bottom: 1px solid #EAECF1;
}

tr:last-child th {
    height: 153px;
}

td {
    padding-left: 16px;
}

label {
    font-size: 16px;
    color: #444;
}

.marking {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #C52E17;
}

input[type="text"],
input[type="password"],
select {
    width: 174px;
    height: 32px;
    border: 1px solid #ddd;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
}

button {
    color: #444;
    width: 90px;
    height: 32px;
    font-weight: 500;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #CDCDCD;
}

.userpw,
.userpw-chk {
    display: inline-flex;
    align-items: center;
}

.pw-text {
    /* margin: 0 5px; */
}

.pw-img {
    width: 22px;
    height: 22px;
}

/* .at {
    margin: 0 3px;
}

select {
    font-size: 14px;
} */

.usermail input[type="text"] {
    width: 310px;
}

.gender label {
    cursor: pointer;
    font-weight: lighter;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    padding: 0;
}

input[type="radio"]:not(:first-child) {
    margin-left: 9px;
}

.phone select,
.phone input[type="text"] {
    width: 88px;
}

.hyphen {
    margin: 0 4px;
}

.address input[type="text"] {
    margin-bottom: 8px;
    padding-left: 5px;
}

.addr-detail input[type="text"] {
    width: 100%;
}

#sample6_detailAddress {
    margin-bottom: 0;
}

#sample6_extraAddress {
    display: none;
}

.text-red {
    color: red;
}

.text-green {
    color: #08a600;
}

.warn,
.pw-text {
    font-size: 13px;
    font-weight: lighter;

}

.warn {
    margin: 0 7px;
}

.pw-warn {
    margin-left: 11px;
}

.pw-text {
    margin-right: 5px;
}


/* 버튼 css */
.buttons {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.buttons button {
    width: 100px;
    height: 45px;
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 16px;
}

#submit {
    background-color: #2d2b2b;
    transition: background-color 300ms ease-in-out;
}

#submit:hover {
    background-color: #535050;
}

#main {
    background-color: #76777E;
    transition: all 300ms ease-in-out;
}

#main:hover {
    background-color: #fff;
    border: solid 1px #76777E;
    color: #76777E;
}

/* footer 전체 */
footer {
    width: 100%;
    height: 215px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

/* slide banner */
.banners {
    background-color: #F0F0F0;
    border-top: 1px solid #888888;
    width: 100%;
    height: 56px;
}

.banner-contents h2 {
    font-size: 18px;
}

.banner-contents {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    align-items: center;
    background-color: #f3f3f3;
}

.banner-list {
    display: flex;
    width: 1298px;
    margin: 0 auto;
}

.banner-list ul {
    display: flex;
    align-items: center;
}

.banner-btn-list i {
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
}

.banner-site-list li {
    align-items: center;
    width: 171px;
    height: 100%;
    padding: 15px;
    text-align: center;
    border-left: 1px solid #ddd;
}

.banner-site-list li a {
    text-align: center;
    color: #777;
}

.banner-site-list li:first-child {
    background-color: #fff;
}

.banner-site-list li:last-child {
    border-right: 1px solid #ddd;
}

/* footer */
.footer-contents {
    width: 100%;
    height: 165px;
    background-color: #383838;
}

.top-contents {
    width: 1400px;
    height: 57px;
    margin: 0 auto;
}

.site-info {
    display: flex;
}

.site-info li a {
    position: relative;
}

.site-info li a::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    top: 6px;
    right: -2px;
    background-color: #D7D7D7;
    z-index: 100;
}

.site-info li:last-child a::before {
    display: none;
}

.site-info ul {
    display: flex;
    padding: 15px 0;
}

.site-info ul li a {
    font-size: 14px;
    padding: 5px 20px;
    color: #DBDBDB;
}

.site-info ul li:first-child a {
    padding: 5px 20px 5px 0px;
}

.bottom-contents {
    width: 100%;
    border-top: 1px solid #AAAAAA;
}

.contents-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    height: 108px;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo h2 {
    color: #7E7E7E;
}

.footer-logo img {
    width: 156px;
    height: 37.42px;
}

.info {
    margin: 0px 0px 0px 60px;
    color: #7E7E7E;
}

.info-contents {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.info span {
    font-size: 14px;
    padding: 3px 30px 3px 0px;
}

.info p {
    font-size: 12px;
    margin: 10px 0px 0px;
}

.icon-list {
    display: flex;
    justify-content: flex-=end;
}

.icon-list li {
    margin: 0px 10px 0px 0px
}

.web-accessibility {
    width: 85px;
    margin-left: 10px;
}