body {
  background-image: url('../images/cat02.jpg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: darkolivegreen
}


.title {
  padding: 10px 10px 10px 25px;
  background-color: #ffffff7a;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

h1 {
  display: inline;
}

span a {
  color: #000;
  padding-left: 20px
}


main {
  padding: 20px;
}

.box-item {
  display: flex;
  width: 700px;
  margin: 5px;
  padding: 10px 10px 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff9a;
  border: 2px solid lightpink;
}

.info-box {
  display: flex;
  align-items: center;
  width: auto;
  gap: 30px;
}

.info-box p {
  font-size: 20px;
  color: darkslategrey;
  font-weight: bold;
}

.buttons button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

.delete {
  background-color: orange;
}

.edit {
  background-color: lightgreen;
}