* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
}


/*********** section5 문화재 소개***********/

.sction5 {
    position: relative;
    width: 1920px;
    height: 900px;
    margin: 0 auto;
    overflow-x: hidden;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #282D61;
    text-align: center;
}

.sec5-title {
    margin-top: 105px;
}

.sec5-subtitle {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.background-text {
    position: absolute;
    font-size: 100px;
    color: transparent;
    z-index: -1;
    -webkit-text-stroke: 1px #F0F0F0;
}

.cultural {
    top: 5px;
    left: 30%;
    font-weight: 900;
}

.properties {
    top: 120px;
    right: 30%;
    font-weight: 900;
}

.image-list-wrapper {
    width: 1400px;
    overflow-x: hidden;
    margin: 0 auto;
}

.top-image-list,
.bottom-image-list {
    display: flex;
}

.top-image-list {
    margin-top: 106px;
    margin-bottom: 25px;
}

.bottom-image-list {
    transform: translateX(-10%);
}

.top-image-list img,
.bottom-image-list img {
    width: 364px;
    height: 250px;
    margin-right: 25px;
    border-radius: 20px;
}

.top-image-list li:last-child img,
.bottom-image-list li:last-child img {
    margin-right: 0;
}



/*********** section6 축제ㆍ행사***********/

.section6 {
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.section6-wrapper {
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.sec6-title {
    padding-top: 60px;
}

.buttons button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.buttons i {
    color: #00BABA;
    font-size: 50px;
}

.poster-list {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1065px;
    display: flex;
    justify-content: center;
}

.poster-list li img {
    display: block;
    width: 240px;
    height: 300px;
    margin-right: 40px;
    border-radius: 0 30px 0 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.poster-list li:last-child img {
    margin-right: 0;
}

.slide-btn-list {
    position: absolute;
    width: 51px;
    height: 10px;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BFBBBB;
    border-radius: 10px;
}

.slide-btn-item {
    width: 17px;
    height: 100%;
}

.slide-btn-item.is-active {
    background-color: #00BABA;
    border-radius: 10px;
}